[submodule "8xdrm"]
	path = 8xdrm
	url = git@github.com:mrdoomlittle/8xdrm.git
[submodule "eint_t"]
	path = eint_t
	url = git@github.com:mrdoomlittle/eint_t.git
[submodule "mdlint"]
	path = mdlint
	url = git@github.com:mrdoomlittle/mdlint.git
